.show-more {
    display: flex;
    justify-content: flex-end;

    &__btn {
        background-color: #000;
        color: #fff;
        padding: 5px 50px;
        border-radius: 5px;
        transition: background-color 0.3s;

        &:hover {
            background-color: red;
        }

        &.active {
            opacity: 0.5;
            pointer-events: none;
        }

        &--red {
            background-color: red;
            
            &:hover {
                background-color: #000;
            }
        }

        &:not(:last-child) {
            margin-right: 50px;
        }
    }
}